@import url(https://fonts.googleapis.com/css?family=Montserrat:500);

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: darkslategray;
}


li, a, button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: rgb(255, 252, 236);
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

.logo {
    cursor: pointer;
}

.nav__links {
    list-style: none;
}

.nav__links li {
    display: inline-block;
    margin-right: 0px 20px;
}

.nav__links li a {
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
    color: rgb(81, 195, 248);
}

button {
    padding: 9px 25px;
    background-color: rgb(43, 122, 96);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: rgb(10, 19, 19);
}
